.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #61dafb;
    transition: all 0.25s ease;
    max-width: 12rem;
    position: relative;
}

.add-cart-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 50%;

    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    cursor: pointer;

    transition: 0.2s ease;
    opacity: 0;
}

.card-body:hover .add-cart-btn {
    opacity: 1;
    transform: scale(1.1);
}

.add-cart-btn:hover {
    background: #1565c0;
}

.card-body:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.price-card {
    font-size: 18px;
    font-weight: bold;
    color: #1e88e5;
    margin-top: auto;
}

.product-card-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-body h3 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 20px
}