.home-body {
    padding: 20px;
    margin: 10px;
    color: black;
}

.btn {
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgb(101, 219, 248);
}

.btn:hover {
    cursor: pointer;
}

#reset-btn {
    background-color: rgb(143, 60, 60);
}